* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.App {
  font-family: Helvetica, Arial, sans-serif;
}

.home {
  width: 1024px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: #fff;
  height: 40px;
  padding: 10px;
}

.logo {
  color: #fff;
}

.featured-products-list {
  display: flex;
  list-style: none;
}

.product-item {
  width: 33%;
  border: 1px solid #eee;
  padding: 10px;
}

.product-item-header {
  display: flex;
  justify-content: space-between;
}

.product-item-link {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.product-item-price {
  font-size: 18px;
}

.product-item-description {
  font-size: 14px;
  color: #333;
  line-height: 22px;
}
